* {
  margin: 0;
  padding: 0;
}

:root{
  --primary-color: #91050a;
}

.header{
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
}

.header__title{
  color: white;
}
